<!-- search.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spotify - Web Player</title>
        <link rel="icon" href="images/icon.png" />
        <link rel="stylesheet" href="css/style.css">
        <link
        rel="stylesheet"
        href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
        crossorigin="anonymous"
        />
        <script type="application/javascript" defer src="js/script.js"></script>
    
</head>
<body>
    <h1>Search Results</h1>
    <form id="search-form" action="search-results.html" method="get">
        <input type="text" id="search-input" name="q" placeholder="Search for songs or artists" />
        <button type="submit">Search</button>
    </form>
    <div id="search-results">
        <!-- Display search results here -->
    </div>
</body>
</html>
