<!-- search.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spotify - Web Player</title>
        <link rel="icon" href="images/icon.png" />
        <link rel="stylesheet" href="../static/css/style.css">
        <link
        rel="stylesheet"
        href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
        crossorigin="anonymous"
        />
    
</head>
<body>
    <!-- Body content -->
    <h1>Search Results</h1>
    <form id="search-form">
        <input type="text" id="search-input" placeholder="Search for songs or artists" />
        <button id="searchBtn" type="button">Search</button>
    </form>
    <div id="search-output" class="card__collection_main">
        <!-- Display search results here -->
    </div>

    <!-- Linking external JavaScript file -->
    <script type="application/javascript" defer src="../static/js/script.js"></script>
</body>
</html>






